@model ICollection<LicencePlateWebApp.Models.CarPlate>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>PLATE</th>
            <th>BRAND</th>
            <th>MODEL</th>
            <th>COLOR</th>
            <th>YEAR</th>
        </tr>
        @foreach (var car in Model)
            {
            <tr>
                <td>@car.Id </td>
                <td>@car.Plate </td>
                <td>@car.Brand </td>
                <td>@car.Model</td>
                <td>@car.Color</td>
                <td>@car.Year</td>
            </tr>
        }
    </table>
</body>
</html>